<!DOCTYPE html>
<html lang="en">
<head>
    {{bootstrap.load_css()}}
    {{bootstrap.load_js()}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <div class="text-center">

        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.RH2gc-Oe1qSvCjD3IRYAyQHaE7%26pid%3DApi&f=1&ipt=0edda98a1864d415aeaca592676a0fab6cefebf7945faeccfd9e4de6681120be&ipo=images" class="rounded w-50">
        
        </div>
    
    <p>HTML</p>
</body>
</html>